.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.subContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
  width: 60%;
  margin: 6%;
}

.button {
  margin-left: 10%;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 80%;
  margin-top: 2em;
}

.paragraph {
  margin-top: 2em;
  font-size: large;
  line-height: 1.8em;
  font-weight: bolder;

  width: 60%;
}

.purple {
  color: #5100a7;
}

.pink {
  color: #e63462;
}

.orange {
  color: #fe5f55;
}
.blue {
  color: #02a9ea;
}

.heading {
  font-size: 3.5em;
  font-weight: 999;
}


.TagLine {
  font-size: 1.5em;
  font-weight: bold;
  color: #2a2b2a;
  margin-bottom: 2em;
}

.Gif {
  margin: 2em;
  width: 70%;
  height: auto;
  border-style: solid;
}
