.container {
  margin-top: -1em;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111439;
  padding: 1em;
  padding-top: 2em;

}

.login{
  border-radius: 2em;
}

.navbar {
  height: 5vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em;
  padding-left: 2em;
  font-size: 1.5em;
}
.NavbarLogo {
  font-weight: 900;
}

.NavBarLinks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  width: 20vw;
  font-size:0.8em ;
}

.NavBarLinks :hover {
  color: #4361ee;
}

.NavBarLinks Button:hover {
  color: white;
}

.NavbarLogo :hover {
  color: #4361ee;
}
