.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 3em;
}

.container{
    width: 70%;

}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    background-color: #fff;
    padding: 5em;    
    
}
.chart{
    display: flex;
    flex-direction: row;
    border: 0.5em solid #111439;
    padding: 1em;
}

.chartInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    background-color: #fff;
    padding: 5em;
}
.TextInfo{
    border: 0.5em solid #111439;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.container{
    margin-left: 3em;
    border: 0.5em solid #111439;
    background-color: #111439;
}